*{
    box-sizing: border-box;
    margin: 0;
    padding: 12;
}

body{

    background-color: rgb(70, 110, 197);
    color: white;
    background-color: #4f56c8;
    background-color: #000000;
    font-size: 16px;
    font-family: sans-serif;

}


.comspart{
    text-align: center;
}


a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 60px;
    padding: 2px 0;
}

.nav-brand{
    width: 135px;
    padding: 1px;
}

.nav-main ul {
    display: flex;

}

.nav-main ul li {
    padding: 8px;

}

.nav-main ul li a{
    padding: 1px;
}

.e12{
background-color: #c300ff;
color: #fff;
text-align: left;
}
 
.e12 h1 {
    text-align: center;
}
.e12 p {

    font-size: 25px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid rgb(111, 0, 255);
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 0px;
}

hr{
    margin: 1px 0;
    color: #ff0000;
    background-color: #ff0000;
}

.showcase{
    width: 100%;
    height: 550px;
    background-color: 262626;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 2px 0;

}

.btn:hover{
    opacity: .7;
}

.showcase h2,
.showcase p {
    margin-bottom: 12px;
    font-family: sans-serif;

}
 
.Banner{
    
    background-image: url(images/SalwyrrLauncher_21-08-2022_04.26.50.png);
    background-size: cover;
    background-position: center center;
    top: 100%;
    height: 140px;

}

.Banner h2{
    font-size: 40px;
    text-align: center;
    color: red;
    font-family: sans-serif;
}


.news-cards h3,
.news-cards p{

    text-align: center;
    background-color: #262626;

}

.nav-main h2{
    padding: 10px 20px;
    font-family: sans-serif;
}

.showcase img{
    margin: 100px 0;
    align-items: center;
    width: 190px;
    height: 190px;

}

.news-cards img{
    margin: 30px 0 ;
    width: 280px;
    height: 190px;
    align-items: center;

}

.search-box{
    
    top: 40%;
    left: 50%;
    transform: translate(5%, 5%);
    background: rgb(0, 225, 255);
    height: 40px;
    border-radius: 40px;

}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-btn{
    color: aqua;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover > .search-btn{
    background: white;
    transition: 0.4s;
}

.btn{
    width: 100px;
    height: 42px;
    background: none;
    border: 4px solid;
    color: #7289DA;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}

.btn::before,.btn::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 4px;
    background: #7289DA;
    transform: skewX(50deg);
    transition: .4s linear;    
}

.btn::after{
    bottom: -4px;
    right: 10%;
}

.btn::before{
    top: -4px;
    left:  10%;

}

.btn:hover::before{
    left: 80;
}

.btn:hover::after{
    right: 80;
}

.input-contenedor{
    background: #262626;
}

.Countbtn::before,.Countbtn::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 4px;
    background: #7289DA;
    transform: skewX(50deg);
    transition: .4s linear; }

    .Countbtn{
        width: 40px;
        height: 26px;
        background: aqua;
        border: 4px aqua solid;
        color: #7289DA;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
        position: relative;
    }
    
    .Countbtn::before,.Countbtn::after{
        content: "";
        position: absolute;
        width: 6px;
        height: 4px;
        background: #00eeff;
        transform: skewX(50deg);
        transition: .4s linear;    
    }
    
    .Countbtn::after{
        bottom: -4px;
        right: 10%;
    }
    
    .Countbtn::before{
        top: -4px;
        left:  10%;
    
    }
    
    .Countbtn:hover::before{
        left: 80;
    }
    
    .Countbtn:hover::after{
        right: 80;
    }
    
    .fa-color{
        color: aqua;
    }

    .SkyInfo{
        background: aqua;
        padding: 18px;
        text-align: center;
        height: 90;
    }

    .About{
        color: #262626;
        padding: 50px;
    }



    .cards-banner-one{
        width: 100%;
        height: 120px;
        background-color: #ff0000;
        margin-bottom: 40px;
    }
.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
}

.txtcm1{
    text-align: center;
    
}

.cards-banner-one p, 
.cards-banner-one h2 {
    font-size: 24px;
    margin: 10px 0 20px 0;
}

.PlayTO{
    color: #ffffff;
    padding: 30px;
    font-family: sans-serif;
}